html{
	background: url(/skyline.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content {
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding: 25px;
	height: 1000px;
	width: 350px;
}
.singphotos {
	height: 250px;
	width: 350px;
}
