<html>
<%- contentFor('blog1') %>
	<title>Blog 1</title>

	<head>
		<link rel="stylesheet" type="text/css" href="/blog.css">
	</head>

	<body>
		<div class="content">
			<p>
				<a href="/">Home</a>
				<a href="blog2"> Singapore</a>
				<a href="blog3"> Bangkok</a>
				<i>Next post soon!</i>
			</p>
			<h1>Pre-Departure Updates</h1>
			<p>May 22 - May 25: San Diego Trip with friends!</p>
			<img src="/sandiego.jpg" class="week1photos">
			<p>May 25 - May 28: Stanford with Darius. But UW-Madison > Stanford</p>
			<img src="/stantow.jpg" class="week1photos">
			<p>Preparing for departure for Singapore on June 14th!</p>


		</div>
	</body>

</html>