<html>
<%- contentFor('blog2') %>
	<title>Blog 2</title>

	<head>
		<link rel="stylesheet" type="text/css" href="/blog2.css">
	</head>

	<body>
		<div class="content">
			<p>
				<a href="/">Home</a>
				<a href="blog1">California</a>
				<a href="blog3">Bangkok</a>
				<i>Next post soon!</i>
			</p>
			<h1>Exploring the City!</h1>
			<p>Quick selfie with Gavin and Chris! (June 18th)</p>
			<img src="/selfie2.jpg" class="singphotos">
			<p>First ride to work on the bus! (Kristy and Chris)</p>
			<img src="/busride.jpg" class="singphotos">
			<p>Group pic for Sage Corps.</p>
			<img src="/team.jpg" class="singphotos">


		</div>
	</body>

</html>