<html>
<%- contentFor('blog3') %>
    <title>Blog 3</title>

    <head>
        <link rel="stylesheet" type="text/css" href="/blog3.css">
    </head>

    <body>
        <div class="content">
            <p>
                <a href="/">Home</a>
                <a href="blog">California</a>
                <a href="blog2">Singapore</a>
                <i> Next post soon!</i>
            </p>
            <h1>Bangkok, Thailand</h1>
            <p>July 13 - July 16: Weekend side trip</p>
            <img src="/temple.jpg" class="week5photos">
            <p>Man's Best Friend</p>
            <img src="/dog.jpg" class="week5photos">
            <p>Up next: Bali, Indonesia</p>


        </div>
    </body>

</html>