<!DOCTYPE html>
<html>
<%- contentFor('index') %>
<title>Home</title>

<head>
<link rel="stylesheet" type="text/css" href="/master.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>

<body>
	<div class = "content">
		<img src="/face.jpg" class ="profile_pic">

		<h1>Mitchell Schaller</h1>

		<h3>Student Programmer</h3>

		<p>Working on a CS degree and PEPP certificate @UW-Madison</p>

		<p>Interning with Zumata's Hotel API team in Singapore, Summer 2018.<form action="blog1"><input type ="submit" value="Blog!"/></form></p>

		<p>Edible Landscapes <a href="https://github.com/Code4Good-UWMadison/Edible-Plants-app_2018S" style="color:cyan">App</a></br><a href="documents/Resume.pdf" style="color: cyan">Resume</a>
		</br>League API <a href="riot">Fun!</a></p>

		<a href="https://www.linkedin.com/in/mitchell-schaller-359a76158"<i class="fab fa-linkedin" style="font-size: 50px;"></i></a>
		<a href="https://www.facebook.com/mitchell.schaller.3?ref=bookmarks"<i class="fab fa-facebook-square" style="font-size: 50px;"></i></a>
		<a href="https://twitter.com/googles_mitch?lang=en"<i class="fab fa-twitter-square" style="font-size: 50px;"></i></br></a>

		<p>Spring 2018 JV2B League Match Highlights:</br></p>
		<iframe width="300" height="275" src="https://www.youtube.com/embed/FfS1eoTsmPQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


		<p><i>Background photo by Markus Spiske on Unsplash</i></p> 

	</div>
</body>
</html>